{{- if and .Values.grafana.enabled .Values.grafana.ingress.enabled }}
{{- $fullName := include "strudel.fullname" . }}
{{- $svcPort := .Values.grafana.port }}
{{- $hostname := include "strudel.coreweaveHostname" (dict "service" "grafana" "context" .) }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-grafana-ingress
  labels:
    {{- include "strudel.labels" . | nindent 4 }}
    component: grafana-ingress
  {{- with .Values.grafana.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.grafana.ingress.ingressClassName }}
  ingressClassName: {{ .Values.grafana.ingress.ingressClassName }}
  {{- end }}
  {{- if .Values.grafana.ingress.tls }}
  tls:
    {{- range .Values.grafana.ingress.tls }}
    - hosts:
        {{- if .hosts }}
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
        {{- else }}
        - {{ $hostname | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ $hostname | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-grafana
                port:
                  number: {{ $svcPort }}
{{- end }}

